body {
    background-image: url("bgnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

table,
th {
    color: #fff;
    font-size: 20px;
}

form {
    line-height: 2;
}

h3 {
    font-size: 30px;
    font-weight: 400;
}

.user {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
}

button {
    height: 30px;
    width: 120px;
}